[Unit]
Description=X KALI - Kali container with X support.

[Service]
User={ USER }
Group={ USER }
Environment=DISPLAY={ DISPLAY }
WorkingDirectory=/opt/xkali
ExecStart=/opt/xkali/start.sh
ExecStop=/opt/xkali/stop.sh
Nice=0

[Install]
WantedBy=multi-user.target
