[Unit]
Description=X KALI - Kali container with X support.

[Service]
User={ USER }
Group={ USER }
Environment=DISPLAY={ DISPLAY }
WorkingDirectory=/opt/xkali
ExecStart=/usr/bin/docker-compose up -d
Nice=0

[Install]
WantedBy=multi-user.target
